@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Press+Start+2P&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    width: 100vw;
    background-color: #25252b;
    font-family: 'Luckiest Guy', cursive;
}

.container{
    position: relative;
    width: 600px;
    display: none;
    justify-content: center;
    flex-direction: column;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, 
    transparent 5%, transparent 35%, #ff2770 50%);
    animation: backgroundAnimate 4s linear infinite;
    box-shadow: 1px 2px 10px white;
  
}
.container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #4C004A 0%, #4C004A 5%, 
    transparent 5%, transparent 35%, #4C004A 50%);
    animation: backgroundAnimate 4s linear infinite;
    box-shadow: 1px 2px 10px white;
    animation-delay: -1s;
 
}
@property  --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes backgroundAnimate{
    0%
    {
        --a: 0deg;
    }
    100%
    {
        --a: 360deg;
    }
}
.container:after{
    content: '';
    position: absolute;
    inset: 8px;
    background-color: #3B3B44;
}

.exitContainer{
    height: 50px;
    display: flex;
    justify-content:right;
    z-index: 1;
}

.exitButton{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
}
.menu{
    overflow: hidden;
    position: relative; 
    height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    box-shadow: 1px 2px 10px white;
    text-align: center;
}

.menu h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 80px;
}
.block{
    position: absolute;
    width: 50px;
    height: 100px;
    background: #4C004A;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}


.menu input{
    font-family: 'Press Start 2P', cursive;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px #95bff0;
    border: none; 
    text-align: center;
    font-size: 12px;
    background-color: #B8F1FE;
}
input::placeholder{
    color: #000;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 30px;
    width: inherit;
}
.header-questions{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 30px;
    width: inherit;
    color: #95bff0;
   z-index: 1;
}

#myList{
    font-family: 'Press Start 2P', cursive;
    background-color: #B8F1FE;
    border: none;
    height: 50px;
    width: 245px;
    border-radius: 10px;
    box-shadow: 2px 2px #95bff0;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
#myList:hover, .menu input:hover{
    background-color:#FFB64F;
    color: #fff;
}
/* .header:hover{
    height: 150px;
    background-color: blue;
    transition: 1s ease-in;
} */    

#start{
    padding: 16px;
    background-color: #FE3400;
    height: 50px;
    width: 245px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#start:hover{
    background-color: #CC3201;
}

.theme{  
    font-family: 'Nunito Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: bold; 
}

.query{
    color: #B8F1FE; 
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 100px;
    z-index: 1;
}

.content{
    display: flex; 
    height: 400px;
    justify-content: center;
   border-radius: 10px;
   z-index: 100000;
}

ul{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
li{
     list-style: none;
     background-color: white;
     width: 300px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px black;

}
li:hover, .button:hover{
    height: 60px;
    background-color: #E58130;
    color: #3B3B44; 
}

.container .scoreContainer{
    display: flex;
    justify-content: end;
    align-items: center;
   
}
.score{
    color:#25252b;
    border-radius: 20px;
    margin-right: 10px;
    padding: 13px;
    background-color:#B8F1FE;
    text-align: center;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
    font-weight: 400;
}

.show{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    color: #FFB64F; 
    width: 600px;
    height: 400px;
    text-align: center;
    font-size:20px;
    font-weight: 600;
    border-radius: 30px;
}

.show .center button{
    margin-top: 10px;
    font-size: 10px;
    background-color:#B8F1FE;
    height: 50px;
    width: 200px;
    font-size: larger;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    color:#25252b;
    cursor: pointer;
}
.show .center button:hover{
    background-color: #95bff0;
}
.footer{
    display: flex;
    justify-content: center;
    height: 50px;
    
}
.button{
    width: 80px;
}

.card{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.balon{
    position: absolute;
    top: 860px;
    width: 10px;
    height: 10px;
    background-color: #3b3b44;
    animation: animate 1.5s infinite;
}

@keyframes animate {
    0%
    {
        top: 860px
    }
    100%{
        top:300px
    }
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
  
}

.card span{
   
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("resources/mark.png");
    background-size: 100px;
    background-repeat: no-repeat;
    animation: animate 4s linear infinite;
}


@keyframes animate
{
    
    40%
    {
        scale: 0,5;
        rotate: 360deg;
        translate: 1500px 0;
        transform-origin: 10px;
    }
    70%
    {
        scale: 0,5;
        rotate: 720deg;
        translate: -1500px 0;
        transform-origin: -10px;
    }

}

@media screen and (max-width: 1000px) {
    .menu{
        width: 100vw;
    }
}
@media (max-width: 999px) and (min-width: 550px){
    .container{
        width: 100vw;
    }
    .menu{
        width: 100%;       
    }
    li{
        width: 300px;        
    }
    .header-menu{
        font-size: 20px;
    }
    #start{
        font-size: 15px;
        padding: 15px;
    }
    .exitButton{
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 549px) and (min-width: 200px){
    .container{
        width: 100vw;
    }
    .menu{
        width: 100%;       
    }
    li{
        width: 300px;        
    }
    .header-menu{
        font-size: 20px;
    }
    #start{
        font-size: 15px;
        padding: 15px;
    }
    .exitButton{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-height: 760px) {
    .score{
        height: 20px;
        padding: 0;
    }
    .content{
        width: 100vw;
        height: 200px;
        margin-bottom: 20px;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
    li{
        font-size: 10px;
        list-style: none;
        margin-top: 33px;
        background-color: rgb(253, 252, 252);
        width: 270px;
        height: 60px;
        border-radius: 20px;
        margin-top: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 1px black;
    }
    .header-menu{
        font-size: 20px;
    }
    #start{
        font-size: 15px;
        padding: 15px;
    }
    
}






